@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
  padding: 1em 1.5em;
  font-size: 1.25em;
}

nav {
  text-align: center;
  margin: 1.5em 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.card-link {
  color: unset;
  padding: 0;
}

.card-link:hover {
  background-color: unset;
}
